* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    width: 400px;
    height: 500px;
}


ul > li > ul {
    display: none;
}

ul > li:hover > ul {
    display: block;
    height: 100%;
    transition: background-color 5s ease-in-out;
}
.opcion:hover {
    background: rgb(130, 180, 245);
    color: rgb(185, 105, 105);
}

.opcion {
    background: rgb(192, 41, 179);
    color: white;
}

.subOpcion {
    padding-left: 20px;
    background: gray;
    color: white;
}
.subOpcion:hover {
    padding-left: 20px;
    background: rgb(6, 167, 46);
    color: white;
}


